<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NDTEChile.My.MySettings.ConnectionString" connectionString="Dsn=ReportesDTE" providerName="System.Data.Odbc"/>
    </connectionStrings>
    <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
  
  <!--<appSettings>
    <add key="ipservidor" value="localhost"/>
    <add key="basedatos" value="integracion"/>
    <add key="usuario" value="root"/>
    <add key="contrasena" value="2016"/>
    <add key="servidorsii" value="maullin"/>
    <add key="tiempolecturacorreos" value="60000"/>
    <add key="rutemisor" value="76185994-3"/>
   </appSettings>
  -->
  <appSettings>
<!--
    <add key="ipservidor" value="xpyme1.ddns.net"/>
	
	186.10.18.246"/>
    
	<add key="basedatos" value="integracion"/>
    <add key="usuario" value="conexiones_mem"/>
    <add key="contrasena" value="19.pool.ntp.org"/>  
    <add key="servidorsii" value="palena"/>
    <add key="tiempolecturacorreos" value="60000"/>
    <add key="rutemisor" value="76185994-3"/>
-->
    <add key="ipservidor" value="xpyme1.ddns.net"/>
    <!--
	186.10.18.246"/>
    -->
    <add key="basedatos" value="integracion"/>
    <add key="usuario" value="conn_johntitor"/>
    <add key="contrasena" value="ibm5100amadeuss"/>
    <add key="servidorsii" value="palena"/>
    <add key="tiempolecturacorreos" value="60000"/>
    <add key="rutemisor" value="77063444-K"/>
    <add key="puerto" value="3012"/>

  </appSettings>

</configuration>
